@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    margin: 70.5px 50px;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-right: 1px solid #CFCFCF;
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

h2 {
    margin: 10px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.formulario {
    margin: 10px 0px;
}

.formulario__label,
.formulario__input,
.formulario__button {
    padding: 1px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    border-radius: 5px;
}

.formulario__label {
    font-size: 15px;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: 15px;
    transition: 0.2s;
}

.formulario__input:invalid {
    border-color: red;
}

.formulario__input:valid {
    border-color: green;
}

.formulario__input {
    width: 380px;
    font-size: 15px;
    border: 2px solid #4D4D4D;
    margin-bottom: 30px;
    padding: 10px;
}

.formulario__input:hover {
    cursor: pointer;
}

.formulario__input:focus .formulario__label {
    margin-top: -10px;
    background-color: white;
    border-radius: 20px;
}

.formulario__button {
    height: 48px;
    width: 380px;
    margin: 0 auto;
    color: white;
    background-color: black;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 16px;
}

.fijar {
    margin-top: -13px;
    background-color: white;
}

form p {
    font-style: italic;
}

.input-hidden {
    height: 0;
    width: 0;
    border: none;

}



@media (max-width:768px) {
    .formulario__input {
        font-size: 15px;
        border: 2px solid #4D4D4D;
        margin-bottom: 40px;
    }

    .formulario__textarea {
        border: 2px solid #4D4D4D;
    }

    .formulario__input,
    .formulario__button {
        width: 300px;
    }
}
@media (max-width:700px){
    article{
        display: flex;
        flex-direction: column;
    }
    .form{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #CFCFCF;
        padding: 5px;
    }
    .map{
        width: 100%;
    }
}
@media (max-width:425px) {

    .formulario__input,
    .formulario__button {
        width: 260px;
    }

    article {
        display: flex;
        flex-direction: column;
        margin: 45px 10px;
    }

    .form {
        border-right: none;
        border-bottom: 1px solid #CFCFCF;
        padding: 5px;
    }

    .map {
        margin: 15px;
    }
}