@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 30px 20px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid #A4A4A4;
}

.producto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    padding-right: 5px;
}

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.boton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0;
}
.informacion .eliminar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.precio{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.descripcion{
    padding: 5px;
    margin: 5px;
    width: 80%;
}
.descripcion p{
    font-size: 15px;
}
.datos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.datos .cantidad{
    width: 50%;
}