@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1 {
    text-align: center;
    position: relative;
    margin: 45px 0px;
    font-family: 'Pacifico', cursive;
}

h1 span {
    background-color: white;
    z-index: 1;
    position: relative;
    padding: 15px;
}

h1::after {
    content: '';
    width: 90vw;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 0;
}

.productos {
    display: grid;
    grid-template-columns: auto auto auto;
}

.formulario_buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
    width: auto;
}

.search_input {
    flex-basis: 82%;
    width: 80%;
    outline: none;
    padding: 15px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
    
}

.button {
    background-color: black;
    border: none;
    width: 20%;
    padding: 0px 15px;
    color: white;
    flex-basis: 8%;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.2s;
}

.button:hover {
    border: none;
    background-color: white;
    color: black;
    outline: none;
    transition: all 0.2s;
}

.productos .item {
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    height: auto;
    width: auto;
    margin: 30px auto;
    border-radius: 10px;
}

.item {
    display: flex;
    flex-direction: column;
}

.item .imagen {
    flex-basis: 50%;
}

.item .informacion {
    flex-basis: 10%;
}

.productos .item .imagen .img {
    width: 300px;
    height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.productos .item .informacion>p {
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 1.5em;
}

.informacion {
    box-shadow: 0px -3px 5px -2px rgba(0, 0, 0, 0.75);
    border-top: 2px solid black;
}

.informacion .head-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 10px auto;
    width: 100%;
}

.head-card .h-cinco,
.head-card .p-cinco {
    width: 50%;
}

.head-card .h-cinco h5,
.head-card .p-cinco p {
    text-align: center;
    margin: 0 auto;
}

.head-card .h-cinco h5 {
    font-size: 17px;
}

.head-card .p-cinco p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    color: #6691FC;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.buttons .button-card {
    transition: all 0.2s;
    height: 60px;
    width: 60px;
    color: white;
    border: none;
    border-radius: 40px;
}

.buttons .view {
    background-color: #55B0F8;
}

.buttons .shop {
    background-color: #35C259;
}

.buttons .button-card:hover {
    transform: scale(1.4);
}

.buttons .input-hidden {
    height: 0;
    width: 0;
    border: none;
}



@media(max-width:1108px) {
    .productos {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media(max-width:732px) {
    .productos .item .img {
        width: 300px;
        height: 300px;
    }

    .productos {
        display: grid;
        grid-template-columns: auto;
    }
}

@media(max-width:425px) {
    .productos .item .img {
        width: 300px;
        height: 300px;
    }

    .productos {
        display: grid;
        grid-template-columns: auto;
    }
}

@media(max-width:375px) {
    .productos .item .img {
        width: 300px;
        height: 300px;
    }

    .productos {
        display: grid;
        grid-template-columns: auto;
    }
}

@media(max-width:325px) {
    .productos .item .img {
        width: 300px;
        height: 300px;
    }

    .productos {
        display: grid;
        grid-template-columns: auto;
    }
}