article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 13vh 4vw;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article section:nth-child(1) {
    flex-basis: 40%;
}

article section:nth-child(2) {
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    margin: 10px 0px;
}

.formulario {
    margin: 30px 0px;
}

.formulario__label,
.formulario__input,
.formulario__button {
    padding: 1px;
    display: block;
}

.formulario__label {
    font-size: 15px;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: 15px;
    transition: 0.2s;
}

.formulario__input:invalid {
    border-color: red;
}

.formulario__input:valid {
    border-color: green;
}

.formulario__input {
    width: 15vw;
    font-size: 15px;
    border: 2px solid #4D4D4D;
    margin-bottom: 30px;
    padding: 10px;
}

.formulario__input:focus .formulario__label {
    margin-top: -10px;
    background-color: white;
    border-radius: 20px;
}

.fijar {
    margin-top: -13px;
    background-color: white;
}

form p {
    font-style: italic;
}
form .hide{
    border: none;
    background-color: transparent;
    color: #767676;
    position: relative;
    top: -65px;
    left: 13vw;
}
form .nohide{
    border: none;
    background-color: transparent;
    color: #767676;
    position: relative;
    top: -65px;
    left: 11.6vw;
}